// Body
$body-bg: #f8fafc;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local('Open Sans Condensed Bold '),
    local('Open Sans Condensed-Bold'),
    url('~typeface-open-sans-condensed/files/open-sans-condensed-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('~typeface-open-sans-condensed/files/open-sans-condensed-latin-700.woff') format('woff'); /* Modern Browsers */
}

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$black: #000000;
$golden: #ffe484;
